NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD8UlFEvZrv70jQTrB-CVI3EubvNFLr5oc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=hrms-c9db1.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=hrms-c9db1
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=hrms-c9db1.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=711257691059
NEXT_PUBLIC_FIREBASE_APP_ID=1:711257691059:web:0f58f58ecc419c6ae431c6
NEXT_PUBLIC_API_URL=http://localhost:5000
